<form (submit)="register()">
    <h1>Sign up</h1>
    <input placeholder="Username" type="text" [(ngModel)]="credentials.name" required="true">
    <input placeholder="Email" type="email" [(ngModel)]="credentials.email" required="true">
    <input placeholder="Password" type="password" [(ngModel)]="credentials.password"  required="true">
    <button>Submit</button>
  </form> 
  
  <!-- <a class="follow" href="https://twitter.com/mildrenben" target="_blank"><i class="fa fa-twitter"></i>Follow Me</a> -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400' rel='stylesheet' type='text/css'>